<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>更改</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/pintuer1.2.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/axios.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/elementui.js"></script>
    <link rel="stylesheet" href="/css/elementui.css"/>
</head>
<body>
<div class="bg"></div>
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:150px;"></div>
            <div class="media media-y margin-big-bottom"></div>
            <div class="panel loginbox">
                <div class="text-center margin-big padding-big-top">
                    <h1>修改密码</h1>
                </div>
                <div class="panel-body"
                     style="padding:30px; padding-bottom:10px; padding-top:10px;" id="app">
                    <el-form :model="passwordVO" :rules="rules" :inline="true">
                        <el-form-item label="旧密码:" prop="oldPW">
                            <el-input v-model="passwordVO.oldPW" autocomplete="off" type="password"></el-input>
                        </el-form-item>
                        <el-form-item label="新密码:" prop="newPW">
                            <el-input v-model="passwordVO.newPW" autocomplete="off" type="password"></el-input>
                        </el-form-item>
                    </el-form>

                    <div style="padding:30px;">
                        <div slot="footer" class="dialog-footer">
                            <el-button type="primary" @click="updatePassword">更改</el-button>
                            <el-button @click="login">取消</el-button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el:"#app",
        data:{
            passwordVO: {
                oldPW: "",
                newPW:""
            }
        },
        methods:{
            updatePassword() {
                axios.post("/user/updatePassword",this.passwordVO).then(r=>{
                    if (r.data.code==200){
                        alert("更改成功，请重新登录");
                        location.href="login.html";
                    }else if (r.data.code==103){
                        alert("原密码不正确");
                    }
                })
            },
            login(){
                location.href = "login.html";
            }
        }
    })
</script>

</body>
</html>